header {
    background: #000 !important;
    padding-left: 10px;
    padding-right: 10px;
}
.container {
    width: 100%;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 2000px;
}
.link-dark {
    color: #fff;
}
.btn-outline-primary {
    color: #fff;
    border-color: #fff;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.btn:hover {
    background-color: #fff;
    color: #000;
    border: #fff;
}
.row {
    margin-top: 1.5rem;
}
.card {
    margin-left: 12px;
    margin-right: 12px;
}
.btn-primary2 {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
footer {
    background: #000 !important;
    padding-left: 10px;
    padding-right: 10px;
}
.text-muted {
    color: #fff !important;
}
#bootstrap {
    color: #fff;
}
.col-md-4 {
    flex: 0 0 auto;
    width: 33%;
}
.row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.titulo {
    padding-left: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #000;
    color: #fff;
    font-weight: lighter;
    font-size: 38px;
}
.img:hover {
    background: #000 !important;
}